@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jost&family=Krona+One&family=Poller+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(193, 228, 230);
    position: relative;
}

.container{
    display: grid;
    grid-template-rows: 10vh 1fr;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Krona One';
    height: 100%;
    width: 100%;
    font-size: 20px;
    background-color: black;
    color: white;
    grid-row: 1;
}

.heading span{
    padding-left: 20px;
}

.headingnav{
    display: flex;
    font-size: 15px;
    font-family: 'Jost';
    padding-right: 2vw;
}

.headingnav div{
    padding: 10px 20px;
    margin-left: 20px;
    transition: 0.5s ease;
}

.headingnav div:hover{
    background-color: white;
    color: black;
}

.profilecontainer{
    font-family: 'Jost';
    padding: 30px 20px;
}

.profileheading{
    font-family: 'Krona One';
}

.profile{
    margin-top: 30px;
    border: 1px solid black;
}

.profile div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.profile div span{
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
}

.edituserbtn, .deleteuserbtn{
    margin-top: 30px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    width: 150px;
    color: black;
    display: grid;
    place-items: center;
    transition: 0.5s ease;
}

.edituserbtn{
    margin-right: 50px;
}

.edituserbtn:hover, .deleteuserbtn:hover{
    background-color: black;
    color: white;
}

.editusermodal, .edititemmodal, .deleteitemmodal, .deleteusermodal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(15px);
    opacity: 0;
    display: grid;
    place-items: center;
    transition: 1s ease;
    pointer-events: none;
    z-index: 1;
}

.editusermodal.active, .edititemmodal.active, .deleteitemmodal.active, .deleteusermodal.active{
    opacity: 1;
    pointer-events: initial;
}

.editmodal, .itemeditmodal, .deletemodal{
    height: 600px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 5% 10px;
}

.editmodal h3, .itemeditmodal h3, .deletemodal h3{
    font-family: 'Krona One';
    font-size: 30px;
    margin-bottom: 30px;
}

.editmodal table, .itemeditmodal table{
    width: 100%;
    display: grid;
    justify-content: center;
}

.editmodal table tbody, .itemeditmodal table tbody{
    width: 100%;
}

.einputtext{
    width: 300px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
}

.einputsubmit{
    width: 300px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    transition: 0.5s ease;
}

.einputsubmit:hover{
    background-color: black;
    color: white;
}

.exiticon{
    position: absolute;
    font-size: 30px;
    color: white;
    top: 2vh;
    right: 1.5vw;
}

.myproductscontainer{
    font-family: 'Krona One';
    margin-top: 50px;
}

.myproductscontainer .productsheading{
    margin-bottom: 30px;
}

.product{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 20px 0;
    padding: 20px 0;
    font-family: 'Jost';
    background-color: white;
}

.product img{
    width: 10%;
    height: 10%;
    margin-right: 20px;
    align-self: center;
}

.productdesc{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.producttype{
    justify-self: flex-end;
    font-size: 15px;
    margin-top: 10px;
}

.edt-delcontainer{
    position: absolute;
    align-self: center;
    right: 50px;
    text-align: end;
}

.edt-delcontainer div{
    padding: 10px 20px;
    text-align: center;
    border: 1px solid black;
    transition: 0.5s ease;
}

.editbutton{
    margin-bottom: 10px;
}

.edt-delcontainer div:hover{
    background-color: black;
    color: white;
}

.deletemodal{
    height: 350px;
}

.deletecontainer h3{
    text-align: center;
}

.deletecontainer div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.deletecontainer div div{
    height: 50px;
    width: 150px;
    border: 1px solid black;
    display: grid;
    place-items: center;
    margin: 30px;
    transition: 0.5s ease;
}

.deletecontainer div div:hover{
    background-color: black;
    color: white;
}

.editdeleteuser{
    display: flex;
    align-items: center;
}